/*======== AGENT PROFILE ========*/
.agent-profile .message {
	margin-bottom: 1em;
}
	.agent-profile .message .error {
		margin-bottom: 5rem;
	}

.agent-profile p,
.agent-profile h2 {
	margin-bottom: 5px;
}
.agent-profile > .row {
	margin-top: 3em;
}

.agent-profile .profile-status p {
	color: white;
    display: inline-block;
    padding: 2px 20px;
    position: absolute;
}
	.agent-profile .profile-status p.active{
		background: green;
	}
	.agent-profile .profile-status p.inactive{
		background: #d32222;
	}

.agent-profile .profile-info {
	margin-bottom: 2em;
}
	.agent-profile .photo {
		text-align: center;
		margin-bottom: 1.5em;
	}
	.agent-profile .info {
		margin-bottom: 1.5em;
	}
		.agent-profile .info strong {
			text-transform: uppercase;
		}

.agent-profile .socials ul {
	margin-left: 0;
}
	.agent-profile .socials ul li {
		margin-right: 10px;
	}
		.agent-profile .socials ul li a {
			font-size: 24px;
		}
		.agent-profile .socials ul li a:hover {
			opacity: .75;
		}

.agent-profile #show-emails-popup {
	display: none;
	position: fixed;
	max-width: 600px;
    width: 90%;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
}
.agent-profile #show-emails-popup::before {
	content: '';
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
	top: 50%;
	left: 50%;
	z-index: -1;
	transform: translate(-50%, -50%);
}
	.agent-profile #show-emails-popup .popup-wrap {
		z-index: 90;
		position: relative;
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 5px;
		padding: 2em;
	}
	.agent-profile #show-emails-popup .close {
		position: absolute;
		top: 5px;
		right: 10px;
		text-transform: lowercase;
		color: #9e9e9e;
		font-weight: 600;
		border: 1px solid #9e9e9e;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		line-height: 1;
		text-align: center;
		padding-top: 1px;
		transition: all .3s;
		cursor: pointer;
	}
	.agent-profile #show-emails-popup .close:hover {
		color: #000;
		border: 1px solid #000;
	}
	.agent-profile #show-emails-popup a,
	.agent-profile #show-emails-popup button {
		padding: .5em 2em;
		color: #fff;
		text-transform: uppercase;
		margin: 0 1em;
		display: inline-block;
	}
	.agent-profile #show-emails-popup a#no {
		background-color: #cccccc;
	}
	.agent-profile #show-emails-popup a#yes, 
	.agent-profile #show-emails-popup form button {
		background-color: #13aff0;
	}
	.agent-profile #show-emails-popup form {
		margin-top: 2em;
		display: none;
	}
		.agent-profile #show-emails-popup form textarea {
			margin-bottom: 2em;
		}
		.agent-profile #show-emails-popup form textarea.error {
			border: 3px solid #d23535;
		}
@media screen and (max-width: 480px){
	.agent-profile #show-emails-popup a, 
	.agent-profile #show-emails-popup button {
	    width: 130px;
		margin-bottom: 1rem;
	}
}		

.agent-profile .bio h1 {
	line-height: 1;
	text-transform: uppercase;
	margin-bottom: .25em;
}
.agent-profile .bio h3 {
	margin-bottom: .25em;
	text-transform: uppercase;
}
.agent-profile .bio .button-wrap {
	margin-bottom: 3em;
	margin-top: 2em;
}

/*=== Edit ===*/
.agent-profile.edit > .btn {
	display: inline-block;
	margin-top: 1em;
}

#edit-profile {
	margin-top: 3em;
}

.agent-profile #edit-profile .acf-field-5cc9b80293c11,
.agent-profile #edit-profile .acf-field-5cc9b81493c12,
.agent-profile #edit-profile .acf-field-5cc5ca2a34025,
.agent-profile #edit-profile .acf-field-5cc5ca3434026,
.agent-profile #edit-profile .acf-field-5cc5ca96dad0c,
.agent-profile #edit-profile .acf-field-5cc5ca9ddad0d,
.agent-profile #edit-profile .acf-field-5ccc6cb6df211,
.agent-profile #edit-profile .acf-field-5ccc6cd7df212,
.agent-profile #edit-profile .acf-field-5ccc8024d7fa0,
.agent-profile #edit-profile .acf-field-5ccc807b25621,
.agent-profile #edit-profile .acf-field-5cd1f3350461a,
.agent-profile #edit-profile .acf-field-5cd1f3450461b,
.agent-profile #edit-profile .acf-field-5cd1f38b0461d,
.agent-profile #edit-profile .acf-field-5cd1f3940461e,
.agent-profile #edit-profile .acf-field-5cd1f3a40461f,
.agent-profile #edit-profile .acf-field-5cd1f3ad04620,
.agent-profile #edit-profile .acf-field-5cd1f3b604621,
.agent-profile #edit-profile .acf-field-5cd1f3bc04622 {
	width: 49%;
}
.agent-profile #edit-profile .acf-field-5cc5caa9dad0e,
.agent-profile #edit-profile .acf-field-5cc5cab5dad0f,
.agent-profile #edit-profile .acf-field-5cc5cacadad10 {
	width: 32%;
}

@media screen and (max-width: 768px){
	.agent-profile #edit-profile .acf-field-5cc9b80293c11,
	.agent-profile #edit-profile .acf-field-5cc9b81493c12,
	.agent-profile #edit-profile .acf-field-5cc5ca2a34025,
	.agent-profile #edit-profile .acf-field-5cc5ca3434026,
	.agent-profile #edit-profile .acf-field-5cc5ca96dad0c,
	.agent-profile #edit-profile .acf-field-5cc5ca9ddad0d,
	.agent-profile #edit-profile .acf-field-5ccc6cb6df211,
	.agent-profile #edit-profile .acf-field-5ccc6cd7df212,
	.agent-profile #edit-profile .acf-field-5ccc8024d7fa0,
	.agent-profile #edit-profile .acf-field-5ccc807b25621,
	.agent-profile #edit-profile .acf-field-5cd1f3350461a,
	.agent-profile #edit-profile .acf-field-5cd1f3450461b,
	.agent-profile #edit-profile .acf-field-5cd1f38b0461d,
	.agent-profile #edit-profile .acf-field-5cd1f3940461e,
	.agent-profile #edit-profile .acf-field-5cd1f3a40461f,
	.agent-profile #edit-profile .acf-field-5cd1f3ad04620,
	.agent-profile #edit-profile .acf-field-5cd1f3b604621,
	.agent-profile #edit-profile .acf-field-5cd1f3bc04622 {
		width: 100%;
	}
	.agent-profile #edit-profile .acf-field-5cc5caa9dad0e,
	.agent-profile #edit-profile .acf-field-5cc5cab5dad0f,
	.agent-profile #edit-profile .acf-field-5cc5cacadad10 {
		width: 100%;
	}
}

.agent-profile #edit-profile .wp-editor-tools {
    position: relative;
    z-index: 1;
    float: right;
    height: 1px;
    margin-top: -35px;
}

.agent-profile #edit-profile label {
	position: relative;
}
.agent-profile #edit-profile .tooltip {
	margin-left: 5px;
    text-decoration: underline;
    color: #12afef;
    cursor: pointer;
}
.agent-profile #edit-profile .tooltip-text {
	display: none;
    opacity: 0;
    margin-left: 10px;
    border-radius: 3px;
    padding: .25em .5em;
    position: absolute;
    background-color: rgba(47, 47, 47, 0.87);
    top: 50%;
    transform: translateY(-50%);
    transition: opacity .3s;
    box-shadow: 1px 1px 5px #ccc;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    z-index: 90;
}
.agent-profile #edit-profile .tooltip-text.show {
	display: inline;
	opacity: 1;
}