.edit-account {
	max-width: 600px;
    margin: 3em auto;
}

#delete-agent-popup {
	display: none;
	position: fixed;
	max-width: 600px;
	width: 90%;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#delete-agent-popup::before {
	content: '';
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
	top: 50%;
	left: 50%;
	z-index: -1;
	transform: translate(-50%, -50%);
}
	#delete-agent-popup .popup-wrap {
		z-index: 90;
		position: relative;
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 5px;
		padding: 2em 1em;
	}
	#delete-agent-popup .close {
		position: absolute;
		top: 5px;
		right: 10px;
		text-transform: lowercase;
		color: #9e9e9e;
		font-weight: 600;
		border: 1px solid #9e9e9e;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		line-height: 1;
		text-align: center;
		padding-top: 1px;
		transition: all .3s;
		cursor: pointer;
	}
	#delete-agent-popup .close:hover {
		color: #000;
		border: 1px solid #000;
	}
	#delete-agent-popup a {
		padding: .5em 2em;
		color: #fff;
		text-transform: uppercase;
		margin: 0 1em;
		display: inline-block;
		font-size: 1rem;
	}
	#delete-agent-popup a#no {
		background-color: #13aff0;
	}
	#delete-agent-popup a#yes {
		background-color: #d23535;
	}

@media only screen and (max-width: 760px){
	#delete-agent-popup a#no {
		margin-bottom: 1rem;
	}
}
