/* Customer Request Form */
#wpcf7-f25-p334-o1 {
	max-width: 100%;
}
#customer_request_form {
	max-width: 800px;
	margin: auto;
}
#customer_request_form br {
	display: none;
}
#customer_request_form h3 {
	color: white;
	text-align: center;
	font-size: 30px;
    line-height: 1.2;
	font-weight: bold;
}
	#customer_request_form .row-two {
		display: flex;
    	justify-content: space-between;
	}
		#customer_request_form .row-two > span {
			flex-basis: 49%;
		}

	#customer_request_form span.wpcf7-list-item,
	#customer_request_form select,
	#customer_request_form input[type="text"],
	#customer_request_form input[type="email"] {
		display: block;
	    background: white;
	    margin-bottom: 10px;
		margin-left: 0;
	    padding: 5px 25px 5px !important;
    	height: 44px;
	    border-radius: 5px;
	    font-size: 16px;
		border: 3px solid #fff;
		transition: all .3s;
		text-align: center;
	}
	#customer_request_form select {
		-webkit-appearance: none;
		cursor: pointer;
		z-index: 20;
	    opacity: 0;
	    margin-bottom: 2rem;
	}

		#customer_request_form span.wpcf7-list-item:hover,
		#customer_request_form input[type="text"]:hover,
		#customer_request_form input[type="email"]:hover {
			transform: scale(1.1);
			cursor: pointer;
		}

		#customer_request_form span.wpcf7-list-item.active {
			border: 3px solid #0f9a1a;
		}
		#customer_request_form span.wpcf7-list-item.error,
		#customer_request_form select.error,
		#customer_request_form input[type="text"].error,
		#customer_request_form input[type="email"].error {
			border: 3px solid #a7282d;
		}

		#customer_request_form #recaptcha.error > div {
			position: relative;
		}
		#customer_request_form #recaptcha.error > div::before {
			content: '';
			border: 3px solid #a7282d;
		    position: absolute;
			width: 101.3%;
		    height: 106%;
		    left: -1%;
		    top: -4%;
		    z-index: -1;
		}

#customer_request_form .wpcf7-form-control-wrap {
	width: 100%;
    display: inline-block;
}

#customer_request_form .wpcf7-form-control-wrap .select-value {
	position: absolute;
    top: 5px;
    /*left: 50%;
    transform: translateX(-50%);*/
    font-size: 18px;
    width: 100%;
    
    background-color: #fff;
    z-index: -1;
    height: 44px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

#customer_request_form .wpcf7-form-control-wrap .wpcf7-select.error + .select-value {
	border: 3px solid #a7282d;
}

#customer_request_form .wpcf7-form-control-wrap .wpcf7-select.active + .select-value {
	border: 3px solid #0f9a1a;
}

#customer_request_form .wpcf7-form-control-wrap .select-value::after {
	content: '\f078';
	font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    font-size: 12px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

#customer_request_form .wpcf7-form-control.d-none ~ .select-value {
	display: none;
}

#customer_request_form input[type="radio"] {
	opacity: 0;
	position: absolute;
}
#customer_request_form .terms span.wpcf7-list-item {
	background: none;
    border: 0;
    color: white;
}
	#customer_request_form .terms span.wpcf7-list-item.error,
	#customer_request_form .terms span.wpcf7-list-item.error a {
		color: #a6282d;
	}


#customer_request_form a:not(.inline) {
	box-shadow: none;
	margin: auto;
    display: block;
	max-width: 150px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
}
#customer_request_form a.inline {
	color: white;
	text-decoration: underline;
}

#customer_request_form .d-none {
	transform: translateY(100px);
}

#customer_request_form .skip-transform {
	transform: none;
}

#customer_request_form #customer_type {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    margin-bottom: 20vh;
}

	#customer_request_form #customer_type div {
		text-align: center;
		background: white;
	 	padding: 0px 15px;
	    margin-bottom: 1em;
	    font-size: 22px;
	    text-transform: uppercase;
	    border: 3px solid white;
	    border-radius: 5px;
	    cursor: pointer;
	    transition: all .3s;
	}
		#customer_request_form #customer_type div:hover {
			transform: scale(1.2);
		}
#customer_request_form .customer_request_property_type {
	margin-bottom: 10vh;
}
#customer_request_form .customer_request_how_soon {
	margin-bottom: 5vh;
}
#customer_request_form .customer_request_preapproved_by_lender {
	margin-bottom: 10vh;
}
#customer_request_form .customer_request_need_language {
	margin-bottom: 10vh;
}
#customer_request_form .customer_request_property_address_seller {
	margin-bottom: 5vh;
}
#customer_request_form .customer_request_property_address_buyer {
	margin-bottom: 10vh;
}
#customer_request_form .customer_request_outside_of_hawaii {
	margin-bottom: 5%;
}
#customer_request_form .customer_request_customer_name {
	margin-bottom: 10vh;
}

#customer_request_form .customer_request_notice {
	margin-bottom: 30vh;
}

#customer_request_form .customer_request_notice .btn {
	box-shadow: none;
}
	#customer_request_form .customer_request_notice .btn a {

	}

.request_form_progress {
	display: flex;
	flex-basis: 100%;
}
	.request_form_progress > div {
	    flex: 1 1 0;
	    text-align: center;
	    color: white;
	    padding: 15px 0;
	    background-color: rgba(119,119,119,0.85);
	    border-right: 1px solid #a7a7a7;
	    min-height: 95px;
	}
	.request_form_progress > div.active:not(.disabled) {
		background-color: rgba(70, 70, 70, 0.85)
	}
		.request_form_progress > div span{
			font-size: 20px;
    		text-transform: uppercase;
		}

@media screen and (max-width: 768px) {
	#customer_request_form {
	    max-width: 90%;
	    margin: 4rem auto;
	}
	#customer_request_form #customer_type {
	    justify-content: center;
	    margin: 20% 0;
	}

	.request_form_progress {
		flex-wrap: wrap;
	}
	.request_form_progress > div {
		flex-basis: 50%;
		border-bottom: 1px solid #a7a7a7;
	}
	.request_form_progress > div:laat-child {
		border-bottom: 0;
	}
}	
