.email-center {
	max-width: 800px;
    margin: auto;
}
.email-center .heading {
	margin-bottom: 1em;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.email-center h1 {
	margin: 0;
}

.email-center .recipients label {
	display: block;
}
	.email-center .recipients input[type="radio"] {
		margin-right: .5em;
	}

.email-center .recipients #user-email, 
.email-center .recipients .select2 {
	display: none;
	width: 100% !important;
}

.email-center h3 {
	margin-bottom: .25em;
    margin-top: 1em;
}


.email-center .templates span {
	display: inline-block;
    background-color: #6c757d;
    color: #fff;
    padding: 3px 10px;
    border-radius: 5px;
    transition: background-color .3s;
    cursor: pointer;
}
	.email-center .templates span:hover,
	.email-center .templates span.active {
		background-color: #13aff0;
	}


